* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
 
/* Mobiles (480px x 640px) */
@media screen and (min-width: 20em) {
   
}
 
/* Tablets (768px x 1024px) */
@media screen and (min-width: 48em) {
   
}
 
/* Desktops (1280px x 1024px) */
@media screen and (min-width: 64em) {
   
}
